<!DOCTYPE html>
<html>
  <head>
    <title>Dynalite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 mx-auto mt-5 p-5 bg-light border-prompt rounded">
                <h1>Dynalite COAP test page</h1>
                <table class="table table-striped table-dark table-hover">
                    <caption>Received COAP data</caption>
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Message ID</th>
                            <th scope="col">Payload</th>
                        </tr>
                    </thead>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].type %></td>
                            <td><%= data[i].id %></td>
                            <td><%= data[i].payload %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>