<!DOCTYPE html>
<html>
  <head>
    <title>Dynalite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body class="bg-secondary">
    <div class="container">
        <div class="mx-auto mt-5 p-4 bg-light border-prompt rounded">
            <h1 class="mb-3">COAP log</h1>
            <div class="mx-auto table-responsive">
                <table class="mx-auto table table-striped table-hover w-100">
                    <caption>Received COAP messages</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Room Id</th>
                            <th scope="col">Time</th>
                            <th style="max-width: 10%" scope="col">isOccupied</th>
                        </tr>
                    </thead>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].rpiId %></td>
                            <td><%= data[i].timestamp %></td>
                            <td>
                                <%= data[i].isOccupied %>
                            </td>
                        </tr>
                    <% } %>
                    <% if(data.length == 0) { %>
                        <tr>
                            <td colspan="3">
                                No data available
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>